@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fcfcfc;
	--foreground: #212529;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(217, 217, 217);
	border-radius: 10px;
	border: 2px solid rgb(241, 241, 241);
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(240, 240, 240);
	border-radius: 10px;
}

fieldset[class$="MuiOutlinedInput-notchedOutline"] {
	border: 1px solid #e9ecef;
}

*::selection {
	@apply bg-primary-100/20;
}

* {
	@apply min-w-0;
}

input {
	&:-webkit-autofill::first-line,
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		@apply shadow-[0_0_0_30px_white_inset];
	}
}

body {
	@apply font-urbanist text-foreground bg-background antialiased;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
